<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>  
    <head>  
        <title>Angular JS table sort and filter example </title> 

        <link href="Css/Cities.css" rel="stylesheet">

    </head>  
    <body >  
        <div ng-controller="citiesCtrl" class="btn-group btn-group-justified">
            <div class="pull-left"><div class="btn-group">
                    <button ng-click="goMain();" type="button" class="btn btn-primary">Back to Main menu</button>
                </div></div>


        </div>
        <div >  

            <div class="container-fluid">  

                <hr />  
                <table class="table table-striped">  
                    <thead>  
                        <tr>  
                            <th>Edit</th>  
                            <th>  
                                <a href="" ng-click="order('name')">Name</a>  
                            </th>  
                            <th><a href="" ng-click="order('zip_code')">Zip code</a> </th>  

                        </tr>  
                    </thead>  
                    <tbody>  
                        <tr>  
                            <td>Filter =>></td>  
                            <td> <input type="text" ng-model="search.name" /></td>  
                            <td> <input type="text" ng-model="search.zip_code" /> </td>  

                        </tr>  
                        <tr ng-repeat="city in cities| orderBy:predicate:reverse | filter:paginate| filter:search" ng-class-odd="'odd'">  
                            <td>  
                                <button class="btn" ng-click="setCityId(city)">  
                                    Edit  
                                </button>  
                            </td>  
                            <td>{{ city.name}}</td>  
                            <td>{{ city.zip_code}}</td>                             
                        </tr>  
                    </tbody>  
                </table>  
                <pagination total-items="totalItems" ng-model="currentPage"  
                            max-size="5" boundary-links="true"  
                            items-per-page="numPerPage" class="pagination-sm">  
                </pagination>  
            </div>  
        </div> 

        <div class="container1">
            <div class="btn-group btn-group-justified">

                <div class="text-center"><button class="btn btn-primary btn-sx" type="button" ng-click="newCity()">New City</button></div>
            </div>
        </div>  

    </body>  
</html> 
