<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="Css/Contact.css" rel="stylesheet">
    </head>
    <body>       


        <div  ng-controller="cityCtrl" ng-init="setSelectedCity();"class="container" >
            <div class="btn-group btn-group-justified">
                <div class="pull-left"><div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="goCities();">Back to Cities</button>
                    </div>
                </div>
            </div>
            
            
            <form name="cityForm">  
                
                <div ng-repeat="c in city">  
                    <div ng-if="$index == 0" > 
                        <div hidden> <input  type="text" placeholder="City id" ng-model="c.id" required ></div>
                        <div hidden> <input  type="text" placeholder="Country id" ng-model="c.country_id" required></div>

                        <div><label class="lbl"><b>City name</b></label></div>
                        <div><input  type="text" placeholder="City name - letters or number (max 10 characters)" name="cityname" ng-model="c.name"  maxlength="50" pattern="[a-zA-Z0-9\s]+" required ></div>
                        <span ng-show="cityForm.cityname.$dirty && cityForm.cityname.$error.required" class="help-block">City name required</span>
                        <span ng-show="cityForm.cityname.$dirty && cityForm.cityname.$error.pattern" class="help-block">Use letters or numbers</span>

                        <div><label class="lbl"><b>Zip code</b></label></div>
                        <div><input  type="text" placeholder="Zip code - letters or number (max 10 characters)" name="zipcode" ng-model="c.zip_code" maxlength="10" pattern="[a-zA-Z0-9\s]+" required></div>
                        <span ng-show="cityForm.zipcode.$dirty && cityForm.zipcode.$error.required" class="help-block">Zip code required</span>
                        <span ng-show="cityForm.zipcode.$dirty && cityForm.zipcode.$error.pattern" class="help-block">Use letters or numbers</span>
                    </div>
                </div>

                <div class="container1">
                    <label class="lbl"><b>Select country</b></label>

                    <select  id="Country" name="Country" class="form-control" size="2" 
                             ng-model ="selected" >                                
                        <option ng-repeat="cnt in coun" value="{{cnt.id}}" ng-click="selectCity(cnt)"  >   

                            {{cnt.name}}
                        </option>
                    </select>

                </div>
                
                 <div class="container1" style="background-color:rgb(241, 241, 241)">
                <button type="button" class="cancelbtn"  ng-disable="!cityForm.$valid" ng-disabled="!cityForm.$valid" ng-click="updateCity(city)" >Update City</button>
                <button type="button" class="cancelbtn" ng-click="deleteCity(city)">Delete City</button>

            </div>
            
            </form>



           
        </div>

    </body>
</html>
