<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <link href="Css/Contact.css" rel="stylesheet">
    </head>
    <body>       

        <div ng-controller="countryCtrl" ng-init=" editCountry();" class="container" >
            <div class="btn-group btn-group-justified">
                <div class="pull-left"><div class="btn-group">
                        <button type="button" class="btn btn-primary" ng-click="goCountries()">Back to Countries</button>
                    </div>
                </div>
            </div>

            <form name="editCountry"> 
                <div ng-repeat="con in count">  
                    <div ng-if="$index == 0"> 
                        <div hidden> <input type="text" placeholder="Country id" ng-model="con.id"  required></div>
                        <div><label class="lbl"><b>Country name</b></label></div>


                        <input type="text" placeholder="Country name" ng-model="con.name" name="country" required="true" maxlength="50" pattern="[a-zA-Z\s]+" >
                        <span ng-show="editCountry.country.$dirty && editCountry.country.$error.required" class="help-block">Country name required</span>
                        <span ng-show="editCountry.country.$dirty && editCountry.country.$error.pattern" class="help-block">Use only charachter letters</span>

                        <div><label class="lbl"><b>Alpha 2</b></label></div>
                        <div>
                            <input type="text" placeholder="Alpha 2" name="alpha2" ng-model="con.alpha_2" required maxlength="2" pattern="[a-zA-Z]+" >
                            <span ng-show="editCountry.alpha2.$dirty && editCountry.alpha2.$error.required" class="help-block">Alpha 2 required</span>
                            <span ng-show="editCountry.alpha2.$dirty && editCountry.alpha2.$error.pattern" class="help-block">Use only charachter letters</span>
                        </div>  
                        <div><label class="lbl"><b>Alpha 3</b></label></div>
                        <div>
                            <input type="text" placeholder="Alpha 3" name="alpha3" ng-model="con.alpha_3" required  maxlength="3"  pattern="[a-zA-Z]+" >
                            <span ng-show="editCountry.alpha3.$dirty && editCountry.alpha3.$error.required" class="help-block">Alpha 2 required</span>
                            <span ng-show="editCountry.alpha3.$dirty && editCountry.alpha3.$error.pattern" class="help-block">Use only charachter letters</span>                      
                        </div>                       
                    </div>
                </div> 
                <div class="container1" style="background-color:rgb(241, 241, 241)">
                    <button class="cancelbtn" type="button" ng-disable="!editCountry.$valid" ng-disabled="!editCountry.$valid" ng-click="updateCountry(count)">Update Country</button>
                    <button type="button" class="cancelbtn" ng-click="deleteCountry(count)">Delete Country</button>
                </div>
            </form>




        </div>

    </body>
</html>
