<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <link href="Css/MainMenu.css" rel="stylesheet"></head>
    <body ng-controller="mainCtrl">
   <nav>
	<ul>
		<li>
                    <button id="Contacts-button" class="button button-block button-calm" ng-click="Exit()">Exit</button>
                </li>
		<li>
			<a>Search<span class="caret"></span></a>
			<div>
				<ul>
					<button id="Contacts-button" class="button button-block button-calm" ng-click="goContacts()">Contacts</button>
                                        <button id="Contacts-button" class="button button-block button-calm" ng-click="goCities()">Cities</button>
                                        <button id="Contacts-button" class="button button-block button-calm" ng-click="goCountries()">Countries</button>
				
				</ul>
			</div>
		</li>
                <li>
                    <button id="Contacts-button" class="button button-block button-calm" ng-click="goAbout()">About</button>
                </li>
		
	</ul>
</nav></ 
        
    
    
    
    
    </body>
  
</html>


